.date {
    background-color: lightgray;
    padding: 5px;
    height: 30px;
    width: max-content;
    border-radius: 6px;
    margin-bottom: 10px;
}
.tdate {
    font-size: 15px;
    font-weight: bold;
}
.content {

}
.imageCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
}
.image {
    width: max-content;
    max-width: 100%;
    height: auto;
    max-height: max-content;
    border-radius: 10px;
}
.cont {
    padding: 10px;
}