.main {
    border-left: 2px solid rgb(13, 115, 92);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.span {
    max-width: 100%;
    width: max-content;
}

.upload {
    max-width: 100%;
    width: max-content;
    padding-right: 10px;
    padding-left: 5px;
}

@media (max-width: 400px) {
    .upload {
        max-width: 100%;
        width: max-content;
    }
}